

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Open sans", helvetica, arial, sans-serif;   
}
h1,h2,h3,h4 {
    font-family: "Oswald", 'open sans', sans-serif;   
}
.maroon {color: #a61e36;}
.tiny-one {
    width:120px;
    height:4px;
    margin-top:4px;
    border-color: #a61e36;
    border-bottom: 4px solid #a61e36;
    margin: 0 auto;
    display:block;
    height:16px;
}

.center {text-align:center;}
.center h1,h2,h3 {margin-bottom:0px;}
#mailing-list {
    background-color: #3a3f4b;
    color: white;
}

#mailing-list .container .wrapper {padding: 30px 0; max-width:750px; margin: 0 auto; text-align: center;}

#mailing-list form .form-group button {width:100%;}
#mailing-list form .form-group {width: 20%; text-align: left;}
#mailing-list form .form-group:first-child {width: 50%; text-align:right;}

.section-header {
    background-color: #a61e36;
}

.with-tab {
    background-image: url(../img/tab.png); background-repeat: no-repeat; background-position: 45px top;
}

.section-header .container {
    padding: 13px 20px;
    color: white;
}

.section-header h1,
.section-header h2 {
    margin: 0;   
}

#vendors-grid, #retailers-grid {
    padding: 25px;
}
#vendors-grid .row,
#retailers-grid .row {
    margin-bottom: 15px;   
}
.client-image {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    background-color: #e5e5e5;
    position:relative;
    cursor: pointer;
}

.client-image img {width: 40%; margin-top: 15%;}
.client-image {text-align: center;}

.client-image .mask {
    width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(58,63,75,0.6); border-radius: 10px;
    overflow: hidden;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0s;
    /* Standard syntax */
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    opacity: 0;
}
.client-image .mask .title-bar {
    color: white;
    background-color: black;
    top: -40px;
    position:relative;
    height: 40px;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

    /* For Safari 3.1 to 6.0 */
-webkit-transition-property:top;
-webkit-transition-duration:.2s;
-webkit-transition-timing-function:linear;
-webkit-transition-delay:0s;
/* Standard syntax */
transition-property: top;
transition-duration: .1s;
transition-timing-function: linear;
transition-delay: 0s;
}

.client-image:hover .mask .title-bar {
    top: 20px;
}
.client-image:hover .mask {
    opacity: 1;
}
#company-slides {
    margin: 0;padding:0; margin-top: 30px; list-style-type:none;
    
}

#company-slides h3 {color: #a61e36; font-size: 28px;}

#footish h3 {
    margin: 0;
    margin-bottom: 10px;
}
#footish .center {
 margin-bottom: 30px;   
 margin-bottom: 30px;   
}

i.linkedin,
i.gplus,
i.facebook,
i.twitter {
    width: 50px;
    height: 50px;
    background-size: auto 50px;
    display: inline-block;
    background-image: url(../img/social.png);
}

i.twitter {
    background-position: right center;  
}
i.gplus {
    background-position: left center;   
}
i.facebook {
    background-position: 66.66% center;   
}
i.linkedin {
    background-position: 33.33% center;   
}

#company-slides .mask {
    position: absolute; top: 0; left: 0; width: 100%; height: auto; display: block;
}

#company-slides .mask p {
    max-width: 33%;   
}


#company-slides .mask .social {
    position: absolute; width: 50px; right: 0; top: 0;   
}
#company-slides .mask .social ul {
    list-style-type: none; padding: 0; margin: 0;   
}
#company-slides {position: relative;}

#company-slides .mask .social ul li a:hover i {opacity: 1;

}
#company-slides .mask .social ul li a i {
    opacity: 0.4;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 0 ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}
#company-slides .mask .social ul li {margin-bottom: 3px;}

#welcome .container {
    padding-top: 30px;
}

#welcome .row p {
    font-size: 16px;
    line-height: 1.6em;
}

#welcome .content-right {
    padding-left: 280px;
}

#welcome .content-left {
    padding-right: 300px;
}
#welcome .row {
    padding-bottom: 30px;   
}
#welcome h2 {margin-bottom: 10px;}
#welcome .pull-left {}
#welcome .pull-right {
    padding-top: 30px;   
}

#footish {
    padding-top: 30px;
}
#footish .form-horizontal .form-group {margin-left: 0;margin-right:0;}
#footish .office ol {padding: 0; margin: 0;}
#footish .office ol li {
    font-size: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
}

.btn-default:active, 
.btn-default:focus,
.btn-default:active:focus {
    background-color: #a61e36;
    color: white;
    box-shadow: none;
    border-color: #7b1628;
    outline: 0;
}
.btn-default:hover {color: white; text-shadow: 0 1px 0 #fef8f9;background-color:#89192d; border-color: #7b1628;box-shadow: none;}

.btn-default {
    outline: 0;
    box-shadow: none;
    text-shadow: 0 1px 0 #fef8f9;
    color: white;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#a61e36),to(#89192d));
    background-image: -webkit-linear-gradient(top,#a61e36,0%,#89192d,100%);
    background-image: -moz-linear-gradient(top,#a61e36 0,#89192d 100%);
    background-image: linear-gradient(to bottom,#a61e36 0,#89192d 100%);
    background-repeat: repeat-x;
    border-color: #7b1628;
    border-color: #7b1628;   
}
.jumbotron {
    margin-bottom: 0;
    height: 700px;
}

.jumbotron .container h1 {
    margin-bottom: 40px;
}

.jumbotron .container p {
       
}

.navbar-nav {
    
}

.navbar-nav li a {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active:hover > a{
    background-color: rgba(166, 30, 54, 1);   
}

.navbar-inverse .navbar-nav > li:hover > a {
    background-color: rgba(166, 30, 54, .95);   
}



.thumbnail {
    
}

.thumbnail .wrapper {
    margin: 0 auto;
    width: 80%;
    height: 150px; 
    margin-top: 10px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.thumbnail .wrapper img {
    width: 100%; max-height: 100%;
}

#vendors {
    padding-bottom: 30px;
}
#vendors .thumbnail {border: 0; box-shadow: none;}
#vendors .row {
    margin-bottom: 15px;   
}
#vendors .thumbnail h2 {
    color: #a61e36;
    margin-bottom: 10px;
}

#mission {background-image: url(/img/fpo/ny-cityscape.jpg); }
#mission h1,
#mission p {color: white; text-shadow: black 0.05em 0.05em 0.05em;}
#mission,#ml-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#ml-wrapper {
    background-image: url(/img/fpo/entrepreneur.jpg);

    background-position: center -100px;
}

#under-content {
    background-image: url(/img/fpo/sales.jpg);
}

.company-slider-wrapper { height: 523px; position: relative; overflow: auto; }
.company-slider-wrapper > ul { list-style: none; }
.company-slider-wrapper > ul > li { float: left; position: relative; min-height: 500px; }

ol.dots {
    position: absolute;
    right: 0px;
    bottom: 20px;
    font-size: 0px;   
}
ol.dots li {
    display: block; width: 16px; border-radius: 8px; background-color: #e5e5e5; height: 16px; margin-bottom: 4px; cursor: pointer; 
}
ol.dots li:hover {
    background-color: rgba(166, 30, 54, .95);   
}
ol.dots li.active {
    background-color: rgba(166, 30, 54, 1);  
}
#mission .tint {
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
}

.bio {
    padding-left: 10px;
}

.navbar-brand img {
    width: 100px;
}

.navbar-nav li a {
    height: 40px;
    padding: 25px 15px 0;
    font-size: 17px;
}

body {
    padding-top: 55px;
}

.navbar {
    height: 55px;
}

#as-seen-on-tv {
    display: none;
}

@media (max-width: 772px) {

    #welcome .content-right {
        padding: 15px;
    }

}

.fixed-bg-pos {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    display: block;
    content: " ";
}

.fixed-bg-pos {
    min-height: 400px;  height: auto;
}

#mission {
    padding: 0;
}

#mission .tint {
    height: 100%;
}

#mission h1, #mission h2 {
    text-transform: uppercase;
    color: white;
}

#mission h2 {
    font-size: 45px; text-shadow: black 0.05em 0.05em 0.05em; line-height: 60px;
}
#mission .container {text-align: center; padding: 30px;}

#vendors .row .col-lg-4 {
    max-width: 80%; margin: 0 auto;
}
@media (min-width:768px) {
    .navbar-brand img {
        width: 160px;
    }

    .navbar-nav li a {
        height: 40px;
        padding: 25px 15px 0;
        font-size: 17px;
    }

    .navbar {
        height: 70px;
    }
}


@media (min-width:992px) {

    .jumbotron .container {
        margin-top: 180px;
    }

    #mission .tint { padding: 30px; }

    .fixed-bg-pos,.tint {
        min-height: 770px;
    }

     .navbar-brand img {
        width: 160px;
    }

    .navbar-nav li a {
        height: 40px;
        padding: 25px 15px 0;
        font-size: 17px;
    }

    .navbar {
        height: 70px;
    }

}

@media (min-width:1200px) {

    /** Nav Stuff **/

    #as-seen-on-tv {
        width: 250px; height: 195px; display: block;
    }

    .navbar-brand img {
        width: 260px;
    }

    .navbar-nav li a {
        height: 100px;
        padding: 38px 28px 0;
        font-size: 17px;
    }

    .navbar {
        height: 100px;
    }

}



