<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="img/logo.png" ></a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#welcome">What We Do</a></li>
        <li><a href="#vendors">Vendors</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#clients">Clients</a></li>
        <li><a href="#footish">Contact</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</header>
